boto3
beautifulsoup4
requests>=2.32.2
selenium>=4.15.1
botocore>=1.32.4
cryptography>=41.0.5
tabulate
defusedxml>=0.7.1
certifi>=2023.11.17
pyopenssl>=23.0.0
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability